.container {    
    min-height: rem(150px);
    
    @media (min-width: $mantine-breakpoint-lg) {
        min-height: rem(200px);
    }
}

.form {
    background: var(--mantine-color-violet-2);  
    border-radius: var(--mantine-radius-xl); 
}

.input {
    flex: 1;
    --mantine-color-placeholder: var(--mantine-color-grape-8);
    --mantine-color-text: var(--mantine-color-grape-9);
}

.input button {    
    background: transparent;  
    border: none;      
}

.button {
    &:disabled,
    &[data-disabled] {    
      background-color: var(--mantine-color-grape-5);
      color: var(--mantine-color-white);
    }
}